<app-header></app-header>
<main>
    <ul id="users">
        <li>
            <app-user [user]="users[0]" (selectUser)="onUserSelected($event)"></app-user>
            <app-user [user]="users[1]" (selectUser)="onUserSelected($event)"></app-user>
            <app-user [user]="users[2]" (selectUser)="onUserSelected($event)"></app-user>
            <app-user [user]="users[3]" (selectUser)="onUserSelected($event)"></app-user>
        </li>
    </ul>
</main>
<app-tasks [user]="this.user"></app-tasks>